
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Guerrilla&family=Protest+Revolution&display=swap');
@import url(./reset.css);
/*theme*/
:root{/*selector root = racine avec les variables*/
    --bgcolor: rgb(255, 255, 0);
    --color-text-title: rgb(251, 0, 255);
    --color-border: rgb(194, 53, 21);
    --border-radius: 2rem;
    --bgsection : rgb(255, 124, 9);
    --subtitle: uppercase;
    --bgmain: rgba(167, 183,203);
    --btn-default-color: rgba(123,45,67);

}
header>h1 {
    background-color: var(--bgcolor);
    color: var(--color-text-title);
    font-weight: normal;
    line-height: 6.5rem;
    /*65px*/
    text-align: center;
    font-size: 4.5rem;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section {
    max-width: 90rem; /*900px*/
    margin: 5rem auto;
    border: solid .1rem var(--color-border);
    border-radius: var(--border-radius);
    padding: 1rem;
    background-color: var(--bgsection);
}
section img {
    width: 100%;
}
section h2 {
    text-transform: var(--subtitle);
    font-weight: 400;

}
.btns-default{
    display: inline-block;
    width: max-content;
    background-color: rgb(175, 44, 142);
    line-height: 2.5rem;
    padding:  .4rem 1rem;
    border-radius: var(--border-radius);
    color: var(--bgsection);

}
.btn-option-success{
    background-color: aquamarine;
    color: var(--bgsection);

}
.btn-option-warning{
    background-color: rgb(234, 29, 29);
    color: inherit;

}
.title-default{
    background-color: rgb(7, 216, 195);
    color: rgb(255, 255, 255);
    line-height: 4rem;
    text-align: center;
}
.title-option{
    background-color: blueviolet;
    color: rgb(255, 255, 255);

}
footer *{
    text-align: center;

}